<ion-toolbar color="primary">
  <ion-buttons >
    <ion-back-button mode="md" defaultHref=""></ion-back-button> 
    <ion-title text-align="center">FAQs</ion-title>
  </ion-buttons>
</ion-toolbar>


<ion-content>
  <div style="text-align: center; padding-top: 8%; padding-bottom: 8%; background-color: #f5f5f5;">
    <img src="assets/img/faq.png"/>
  </div>
  <div style="margin-left: 10%;">
    <h6 style="font-weight: 600; color: grey;">Frequenty Asked Questions</h6>
  </div>
  <ion-card (click)="expandItem(item)"  *ngFor="let item of items">
    <ion-card-header>
      <div style="float: right; font-size: larger;"><ion-icon slot="end" name="add-outline"></ion-icon>
      </div>
      <ion-card-title style="font-size: small; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">1.	What is Siki app?</ion-card-title>
    </ion-card-header>
      <app-expandable expandHeight="150px" [expanded]="item.expanded">
        <p style="padding-left: 6%">
         Ans: Siki App is a mobile payment application that uses QR code technology to enable contactless payments in merchants who registered to accept payment through this App.
        </p>
      </app-expandable>
  </ion-card>
  <ion-card (click)="expandItem(item)"  *ngFor="let item of item1">
    <ion-card-header>
      <div style="float: right; font-size: larger;"><ion-icon slot="end" name="add-outline"></ion-icon>
      </div>
      <ion-card-title style="font-size: small; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">2.	Can Siki allow for payments using all mobile networks?</ion-card-title>
    </ion-card-header>
      <app-expandable expandHeight="150px" [expanded]="item.expanded">
        <p style="padding-left: 6%">
          Ans: No, Only BTC mobile users will be able to use Siki App to make payment. However, arrangements are being made to accommodate other networks,
          including banks to enable seamless contactless payments in Botswana
        </p>
      </app-expandable>
  </ion-card>
  <ion-card (click)="expandItem(item)"  *ngFor="let item of item2">
    <ion-card-header>
      <div style="float: right; font-size: larger;"><ion-icon slot="end" name="add-outline"></ion-icon>
      </div>
      <ion-card-title style="font-size: small; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">3.	How do I pay with a QR Code?</ion-card-title>
    </ion-card-header>
      <app-expandable expandHeight="150px" [expanded]="item.expanded">
        <p style="padding-left: 6%">
          Ans: After registering and setting up Siki app, simply click on the “Pay” button at the bottom of your screen to open the QR-Scanner,
          point the phone towards A QR Code displayed in merchant store, enter amount, enter PIN and confirm payment.
        </p>
      </app-expandable>
  </ion-card>
  <ion-card (click)="expandItem(item)"  *ngFor="let item of item3">
    <ion-card-header>
      <div style="float: right; font-size: larger;"><ion-icon slot="end" name="add-outline"></ion-icon>
      </div>
      <ion-card-title style="font-size: small; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">4.	Do I need a bank Account to use Siki App</ion-card-title>
    </ion-card-header>
      <app-expandable expandHeight="150px" [expanded]="item.expanded">
        <p style="padding-left: 6%">
          Ans: No, you do not need a bank account to use Siki App. You only need to have an active BTC SMEGA wallet account. 
        </p>
      </app-expandable>
  </ion-card>

  

  <ion-card (click)="expandItem(item)"  *ngFor="let item of item4">
    <ion-card-header>
      <div style="float: right; font-size: larger;"><ion-icon slot="end" name="add-outline"></ion-icon>
      </div>
      <ion-card-title style="font-size: small; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">5.	Is Siki App free?</ion-card-title>
    </ion-card-header>
      <app-expandable expandHeight="150px" [expanded]="item.expanded">
        <p style="padding-left: 6%">
          Ans: Yes, you don't have to pay anything to download Siki app from Google Play or App Store. Siki App is zero-rated when accessed through BTC mobile network.
        </p>
      </app-expandable>
  </ion-card>

  
  <ion-card (click)="expandItem(item)"  *ngFor="let item of item5">
    <ion-card-header>
      <div style="float: right; font-size: larger;"><ion-icon slot="end" name="add-outline"></ion-icon>
      </div>
     
      <ion-card-title style="font-size: small; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">6.	What happens if I lose my phone or gets stolen?
        
      </ion-card-title>
    </ion-card-header>
      <app-expandable expandHeight="150px" [expanded]="item.expanded">
        <p style="padding-left: 6%">
          Ans: inform us as soon as possible for us to deactivate your account. Provide the phone number or email address you registered with so that we’re able to access your profile. Please submit your request to support@siki.co.bw
        </p>
      </app-expandable>
  </ion-card>

  
  <ion-card (click)="expandItem(item)"  *ngFor="let item of item6">
    <ion-card-header>
      <div style="float: right; font-size: larger;"><ion-icon slot="end" name="add-outline"></ion-icon>
      </div>
      <ion-card-title style="font-size: small; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">7.	Will I be able to view my latest transactions?</ion-card-title>
    </ion-card-header>
      <app-expandable expandHeight="150px" [expanded]="item.expanded">
        <p style="padding-left: 6%">
          Ans: Yes, you can view your latest transactions on the Siki app immediately upon completing any payment. Click on the History tab to view all your transactions.
        </p>
      </app-expandable>
  </ion-card>

  
  <ion-card (click)="expandItem(item)"  *ngFor="let item of item7">
    <ion-card-header>
      <div style="float: right; font-size: larger;"><ion-icon slot="end" name="add-outline"></ion-icon>
      </div>
      <ion-card-title style="font-size: small; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">8.	How will I know my balance in Siki app?
        </ion-card-title>
    </ion-card-header>
      <app-expandable expandHeight="150px" [expanded]="item.expanded">
        <p style="padding-left: 6%">
          Ans: Siki app has not balance. Your Siki account is linked to your SMEGA wallet account. it is very important make sure that you have sufficient balance in your SMEGA wallet before you can make a purchase with Siki app.
          Please reload you your SMEGA wallet in order to pay with Siki app.
        </p>
      </app-expandable>
  </ion-card>

  
  <ion-card (click)="expandItem(item)"  *ngFor="let item of item8">
    <ion-card-header>
      <div style="float: right; font-size: larger;"><ion-icon slot="end" name="add-outline"></ion-icon>
      </div>
      <ion-card-title style="font-size: small; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">9.	Are my payment details safe?</ion-card-title>
    </ion-card-header>
      <app-expandable expandHeight="150px" [expanded]="item.expanded">
        <p style="padding-left: 6%">
          Ans: Yes, we have set-up security measures to make sure your payment data is protected. Your PIN/password is only known to you and we do not keep any of your security information.
          Your personal information will not be shared or sold to any other third-party
        </p>
      </app-expandable>
  </ion-card>

  
  <ion-card (click)="expandItem(item)"  *ngFor="let item of item9">
    <ion-card-header>
      <div style="float: right; font-size: larger;"><ion-icon slot="end" name="add-outline"></ion-icon>
      </div>
      <ion-card-title style="font-size: small; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Are there any fees that I need to pay to use Siki App?</ion-card-title>
    </ion-card-header>
      <app-expandable expandHeight="150px" [expanded]="item.expanded">
        <p style="padding-left: 6%">
          Ans: You may be charged service fees for using Siki and/or processing fees by your wallet provider (e.g. SMEGA).
        </p>
      </app-expandable>
  </ion-card>
</ion-content>
