
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs"></ion-back-button>
    </ion-buttons>
    <ion-title>Add Payment option</ion-title>
  </ion-toolbar>
<ion-content>
  <div [formGroup]="paymentMethod" >

    <div style="background-color: rgb(202, 212, 241); padding: 4px; ">
      <div id="safety-note">
        <p>
          Your wallet is highly secured. We have taken major steps in accordance to the law to make sure that our user's
          data is safe at all times.
        </p>
      </div>
    </div>

    <div id="card-details">

      <ion-row>
        <ion-col>
          <h1>Wallet Details</h1>
        </ion-col>

        <ion-col>
          <img src="assets/img/mastercard2.png" style="float: right; padding-right: 15px; padding-top: 15px;">
        </ion-col>
      </ion-row>

      <ion-list padding class="is-list-transparent">

        <ion-item>
          <ion-input type="text" formControlName="phoneNumber" color="primary" 
            placeholder="Phone Number" minlength="8" maxlength="8" required="true"></ion-input>
        </ion-item>
        <ion-item class="is-item-hint">
          <ion-label text-wrap>
            <p>Please note that you must use a BTC phone number and have registered for SMEGA Wallet.</p>
          </ion-label>
        </ion-item>

        <ion-item class="is-item-hint">
          <ion-label text-wrap>
            <p>Also note that you wallet pin will be required when making a transaction.</p>
          </ion-label>
        </ion-item>

        <ion-item style="border-radius: 5px; border: solid 0.5px rgb(235, 235, 235); margin-top: 5px;"
          (click)="addPaymentOption()" [disabled]="!paymentMethod.valid" color="primary" button detail="true">
          <ion-label>Save</ion-label>
        </ion-item>
      </ion-list>
    </div>

  </div>
</ion-content>