ion-item {
    background-color: rgb(228, 226, 226);
}

#card-details{
    margin-right: 20px;
    margin-left: 20px;
}

h1{
    font-size:medium;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: black;
}



#safety-note{
    margin-left: 20px;
    margin-right: 20px;
    font-size: small;
    color: darkgreen;
}