<ion-buttons mode="md" slot="start" style="background:#ffffff" padding="5px">
  <ion-back-button defaultHref="" color="primary"></ion-back-button>
</ion-buttons>
<ion-content class="ion-padding">
  <br>
  <br>
  <div [formGroup]="loginFormGroup">

    <div>
      <img src="assets/img/verification.png" alt="png" />
    </div>
    <div id="recaptcha-container" style="display: none;"></div>
    <div class="centeredText">
      <p *ngIf="!otpSent" text-wrap>Please enter your mobile number to receieve a verification code</p>
     
    </div>
    <br>
    <div *ngIf="!otpSent">
      <ion-list padding class="is-list-transparent">
        <ion-item>
          <ion-input style="font-weight: bolder;" type="tel" autofocus="on" formControlName="phoneNumber" color="primary" inputmode="numeric"
            minlength="11" maxlength="11" placeholder="Phone Number" required="true">
          </ion-input>
        </ion-item>
        <div *ngIf="(f.phoneNumber.dirty || f.phoneNumber.touched)" class="errors">
          <span *ngIf="f.phoneNumber.hasError('minLength')">Phone number should include country code</span>
          <span *ngIf="f.phoneNumber.hasError('required')">Kindly provide Phone number</span>
        </div>
      </ion-list>
      <!-- <ion-list lines="none">
      </ion-list> -->
      <br>
      <ion-list lines="none">
        <ion-item (click)="sendOtp()" [disabled]="!loginFormGroup.valid" color="primary" button detail="true">
          <ion-label>Send OTP</ion-label>
        </ion-item>
      </ion-list>
    </div>
    <br>
    <div *ngIf="otpSent">
      <div class="centeredText">
        <p text-wrap>We have sent an OTP to your number <span style="font-weight: bold;">+{{phoneNumber}}</span>. Please enter it below</p>
      </div>
      <ion-list padding class="is-list-transparent">
        <ion-item>
          <ion-input style="font-weight: bolder;" type="numeric" formControlName="verificationCode" minlength=4 maxlength="10" inputmode="numeric"
            required placeholder="******">
          </ion-input>
        </ion-item>
      </ion-list>
      <br>
      <ion-list lines="none" padding no-margin class="is-list-buttons is-list-transparent">
        <ion-item (click)="verifyOtp()" color="primary" button detail="true">
          <ion-label>Verify OTP</ion-label>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>