<ion-buttons mode="md" slot="start" style="background:#ffffff" padding="5px">
  <ion-back-button defaultHref="" color="primary"></ion-back-button>
</ion-buttons>
<ion-content class="ion-padding">
    
  <div [formGroup]="signUpFormGroup">
    <div >
      <img src="assets/img/icon.png" alt="png" />
    </div>
    <br>
    <br>
    <div>
      <h2>
        Register...
      </h2>
      <p>Please provide your details to create your account</p>
    
    </div>
    <!-- <img src="assets/img/guide.png" alt="" style="float: left; text-align: left;"/>  -->


    <ion-list padding class="is-list-transparent">
      <!-- <ion-item>
        <ion-input autocorrect="on" autofocus="on" clearInput="true" formControlName="fullname" clearOnEdit="true"
          color="primary" inputmode="text" placeholder="Full Name" required="true"></ion-input>
        <ion-icon name="person-outline" color="primary" slot="end"></ion-icon>
      </ion-item> -->
      <ion-item style="border-color: rgb(201, 201, 201);" >
        <ion-input type="email" autocorrect="on" autofocus="on" formControlName="email" clearInput="true"
          clearOnEdit="true" color="primary" inputmode="email" placeholder="Email" required="true"></ion-input>   
      </ion-item>
      <div *ngIf="(f.email.dirty || f.email.touched)" class="errors">
        <span *ngIf="f.email.hasError('email')">Kindly provide a valid email address</span>
        <span *ngIf="f.email.hasError('required')">Kindly provide email address</span>
      </div>
      <!-- <ion-item>
        <ion-input autocorrect="on" autofocus="on" type="tel" clearInput="true" formControlName="phoneNumber"
          clearOnEdit="true" color="primary" inputmode="numeric" placeholder="Cell Number" required="true"></ion-input>
        <ion-icon name="call-outline" color="primary" slot="end"></ion-icon>
      </ion-item> -->
      <!-- <ion-item class="is-item-hint">
        <ion-label text-wrap>
          <p>Please note that you must use a BTC mobile number and have registered for SMEGA Wallet.</p>
        </ion-label>
      </ion-item> -->

      <ion-item  style="border-color: rgb(201, 201, 201);" >
        <ion-input [type]="passwordType || 'password'" formControlName="password" placeholder="Password"></ion-input>
        <ion-button fill="clear" size="default" slot="end" (click)="togglePasswordType()">
          <ion-icon [name]="(passwordType === 'text') ? 'eye-off' : 'eye'"></ion-icon>
        </ion-button>
      </ion-item >

      <div *ngIf="(f.password.dirty || f.password.touched)" class="errors">
        <span *ngIf="f.password.hasError('minLength')">Your password should atleast be 6 characters</span>
        <span *ngIf="f.password.hasError('required')">Kindly provide password</span>
      </div>
      <ion-item style="border-color: rgb(201, 201, 201);">
        <ion-input [type]="passwordConfirmType || 'password'" formControlName="confirmPassword"
          placeholder="Confirm Password"></ion-input>
        <ion-button fill="clear" size="default" slot="end" (click)="toggleConfirmPasswordType()">
          <ion-icon [name]="(passwordConfirmType === 'text') ? 'eye-off' : 'eye'"></ion-icon>
        </ion-button>
      </ion-item>
      <div *ngIf="(f.confirmPassword.dirty || f.confirmPassword.touched)" class="errors">
        <span *ngIf="f.confirmPassword === f.password ">Passwords Mismatch</span>
        <span *ngIf="f.confirmPassword.hasError('required')">Kindly provide password</span>
      </div>
    </ion-list>
    <ion-list lines="none">
      <!-- <ion-item>
        <ion-label text-wrap>I agree with <a href="#">terms and conditions</a></ion-label>
        <ion-checkbox color="dark" checked="false" slot="start"></ion-checkbox>
      </ion-item> -->
    </ion-list>
    <br>
    <ion-list lines="none">
      <ion-item (click)="register()" [disabled]="!signUpFormGroup.valid" color="primary" button detail="true">
        <ion-label *ngIf="!emailSent">Register</ion-label>
      </ion-item>
    </ion-list>
  </div>
<br>
  <div (click)="presentModal()"> 
    <p style="text-align: center; font-size: small;">By registering you agree to our <span style="font-weight: bold;" >terms of use</span> and <span style="font-weight: bold;">privacy policy.</span> </p>
  </div>

</ion-content>