.expand-wrapper {
    transition: max-height 0.4s ease-in-out;
    overflow: hidden;
    height: auto;
    background-color: rgb(228, 228, 228);
  }
  
  .collapsed {
    max-height: 0 !important;
  }