  <ion-content>
      <div class="wrapper">

       
        <div class="centerDiv">
          <div class="centeredText">
            <img src="assets/img/paid-tick.gif" style="width: 20%; height:40%;">
            <br>
            <br>
            <p style="color: #212D4E; font-size: 14px;">
              Paid successfuly <span style="font-weight: bold;"> </span>
            </p>
              <p style=" font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: bold; font-size: x-large; color: rgb(62, 211, 137);" >
              BWP{{amount}}
              </p>
            <p>Your Payment  was sucessfully completed to </p>
           

            <ion-row>
              <ion-col size="5" style="background-color: rgb(255, 255, 255); text-align: right;" >
                <div class="date-time">
                  <img src="assets/img/shopping-basket.png"/></div>
              </ion-col>

                <ion-col style="background-color: rgb(255, 255, 255); text-align: left; font-weight: bold;">
                  <div style="padding-top: 10px">
                    Merchant{{merchant}}
                  </div>
                </ion-col>

            </ion-row>
            <br>
            <div class="devider" >
            </div>
            <br>
            <ion-row>
              <ion-col>
                <p class="date-time"> Transaction done on {{date | date:'MMM d, y, h:mm:ss a'}}</p>
              </ion-col>
            </ion-row>
          </div>
          <br>
          <div class="btn">
            <ion-button fill="solid" expand="full" shape="block" (click)="closeModal()" [routerLink]="['/tabs']"
              color="primary">Done</ion-button>
          </div>
        </div>
      </div>
    </ion-content>