.wrapper{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin:0%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(238, 238, 238) ;
    // background-image: linear-gradient(197deg, rgb(12, 62, 168) 5%, rgb(13, 76, 192) 13.5%, rgb(30, 69, 196) 33.33%, rgb(62, 141, 214) 100%) !important;
   
  }
  .centerDiv{
    // width: 100%;
  // margin: 0;
    // position: absolute;
  
    // left: 50%;
    // transform: translate(-50%, -50%);
    margin-top: 30%;
    background-color: white;
    padding-top:30px;
    margin-right: 20px;
    margin-left:20px;
    height: 60%;
    border-radius: 15px;
    
  }

.devider{
  // height: 10px;
  margin-left: 20px;
  margin-right: 20px;
  border-bottom-width: 1.5px;
  border-bottom-style: dashed;
  border-color: rgb(197, 197, 197);
}

// .bottomfooter{

//   height: 60px;
//   background-color: white;
//   margin-right: 20px;
//     margin-left:20px;
//     border-radius: 10px;
//     padding-left: 15px;
//     padding-right: 10px;

// }

// .bottomfooter-inner{
//   border-top-style: dashed;
//   border-top-width: 1px;
//   border-color: rgb(189, 189, 189) ;
// }



  .centeredText{
    text-align: center;
    color: #212D4E;
  }
  
  .note{
    font-size: xx-small;
    margin-top: 2%;
  }
  h2 {
    font-weight:bold;
    font-size:30px;
    font-family: Arial, Helvetica, sans-serif;
   color: #212D4E;
  }
  p {
    width:80%;
    display:block;
    margin: 0 auto;
    font-size:0.8em;
    color:#212D4E ;
    font-weight: regular;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
  }
  ion-item {
    border-radius: 5px !important;
    padding-left: 5px !important;
    font-size: 0.9em;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    border: 1px solid #212D4E;
    box-shadow: none !important;
  }
  ion-button{
    margin-left: 22px;
    margin-right: 22px;
  }
    
    