<ion-toolbar color="primary">
  <ion-buttons>
      <ion-back-button mode="md" defaultHref="" > </ion-back-button>
      <ion-title >Contact Us</ion-title>
    </ion-buttons>
  </ion-toolbar>
<ion-content>
  <div style="text-align: center; padding-top: 8%; padding-bottom: 8%; background-color: #fafbfb;">
    <img src="assets/img/contactus-bg.png"/>
  </div> 


  <div style="margin-left: 20px;">
    <h6 style="font-weight: 600; color: #212D4E;">Need help?</h6>
  </div>

  <div style="margin-left: 20px; font-size: small; color:#009cde;">
    <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  color:#009cde;">
     Get in touch with the following contact details:
    </p>
  </div> 

  <ion-item lines="none"> 
    <ion-icon name="call" style="color: grey;"></ion-icon>
    <ion-label style="padding-left: 6%; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: medium;" >
      +267 360 7500/ 75938477
    </ion-label >
  </ion-item>

  <ion-item lines="none">
    <ion-icon name="mail-unread" style="color: grey;"></ion-icon>
   
    <ion-label  style="padding-left: 6%; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: medium;">
      support@siki.co.bw
    </ion-label>
  </ion-item>

  <ion-item lines="none">
    <ion-icon name="globe" style="color: grey;"></ion-icon>
    <ion-label style="padding-left: 6%; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: medium;">
      https://www.siki.co.bw
    </ion-label>
  </ion-item>

  <ion-item lines="none">
    <ion-icon name="logo-whatsapp" style="color: grey;"></ion-icon>
    <ion-label style="padding-left: 6%; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: medium;">
      Send Message: +267 75938477
    </ion-label>
  </ion-item>

  <ion-item lines="none">
    <ion-icon name="logo-facebook" style="color: grey;"></ion-icon>
    <ion-label  style="padding-left: 6%; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: medium;">
      @siki
    </ion-label>
  </ion-item>

</ion-content>
