.essential-theme {
  .is-segment-clear {
    ion-segment-button {
      --indicator-color-checked: transparent;
      --background-checked: transparent;
      --background: transparent;
      --border-width: 0px;
      --color: var(--is-segment-color);
      --color-checked: var(--is-segment-checked-color);
      &.ios {
        --margin-top: 12px;
      }
    }
  }
}
