
<ion-toolbar color="primary" style="box-shadow: 1px;">
  <ion-title>Settings</ion-title>
</ion-toolbar>

<ion-content style="background-color: #f9f9fa; height: auto;" >
  <div style=" height: auto;" >
    <div style="margin-left: 8%;">
      <h6 style="font-weight: 600; color: grey;">General Setting</h6>
    </div>

    <br>
  <ion-list >
    <ion-item lines="none" button routerLink="/notifications">
      <ion-avatar slot="start" class="is-icon-avatar is-background-primary">
        <ion-icon name="notifications"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h3>Notification</h3>
      </ion-label>
    </ion-item>
    <ion-item lines="none" button routerLink="/faq">
      <ion-avatar slot="start" class="is-icon-avatar is-background-secondary">
        <ion-icon name="alert"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h3>FAQ</h3>
      </ion-label>
    </ion-item >
    <ion-item lines="none" button routerLink="/contact-us">
      <ion-avatar slot="start" class="is-icon-avatar is-background-success">
        <ion-icon name="help-buoy"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h3>Contact us</h3>
      </ion-label>
    </ion-item>


    <ion-item lines="none" button  (click)="presentModal()">
      <ion-avatar slot="start" class="is-icon-avatar is-background-light">
        <ion-icon name="document"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h3>Terms and Conditions</h3>
      </ion-label>
    </ion-item>
    
    <ion-item lines="none" button routerLink="/info">
      <ion-avatar slot="start"  class="is-icon-avatar is-background-danger"> 
        <ion-icon name="information-circle"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h3>App info</h3>
      </ion-label>
    </ion-item>
  </ion-list>

</div>
</ion-content>
