<ion-content>
  <div style="height: 100%; color: #eff0f7;">
    <div id="parent">

      <ion-grid id="container" style="text-align: center;  ">
        <ion-row>
          <ion-col>
            <h6 style="text-align: center; color: #212D4E;text-transform:none!important;">Enter your wallet
              <br />
              Pin</h6>

            <div class="errorMessage" *ngIf="!message">
              <span style="color: #212D4E; font-weight: bold;">Please Enter Correct Passcode</span>
            </div>
            <div style="text-align: center; " margin-vertical>
              <ion-icon *ngIf="!codeone" name="radio-button-off" color="primary"> </ion-icon>
              <ion-icon *ngIf="!codetwo" name="radio-button-off" color="primary"> </ion-icon>
              <ion-icon *ngIf="!codethree" name="radio-button-off" color="primary"> </ion-icon>
              <ion-icon *ngIf="!codefour" name="radio-button-off" color="primary"> </ion-icon>

              <ion-icon *ngIf="codeone || codeone == 0" name="radio-button-on" color="primary"> </ion-icon>
              <ion-icon *ngIf="codetwo || codetwo == 0" name="radio-button-on" color="primary"> </ion-icon>
              <ion-icon *ngIf="codethree || codethree == 0" name="radio-button-on" color="primary"> </ion-icon>
              <ion-icon *ngIf="codefour || codefour == 0" name="radio-button-on" color="primary"> </ion-icon>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button fill="outline" shape="round" color="primary" size="large" (click)="add('1')">1</ion-button>
          </ion-col>
          <ion-col>
            <ion-button fill="outline" shape="round" color="primary" size="large" (click)="add('2')">2</ion-button>
          </ion-col>
          <ion-col>
            <ion-button fill="outline" shape="round" color="primary" size="large" (click)="add('3')">3</ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button fill="outline" shape="round" color="primary" size="large" (click)="add('4')">4</ion-button>
          </ion-col>
          <ion-col>
            <ion-button fill="outline" shape="round" color="primary" size="large" (click)="add('5')">5</ion-button>
          </ion-col>
          <ion-col>
            <ion-button fill="outline" shape="round" color="primary" size="large" (click)="add('6')">6</ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button fill="outline" shape="round" color="primary" size="large" (click)="add('7')">7</ion-button>
          </ion-col>
          <ion-col>
            <ion-button fill="outline" shape="round" color="primary" size="large" (click)="add('8')">8</ion-button>
          </ion-col>
          <ion-col>
            <ion-button fill="outline" shape="round" color="primary" size="large" (click)="add('9')">9</ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <!-- <ion-button fill="clear" shape="round" color="primary" size="large" (click)="open()">
              <ion-icon name="finger-print-outline"></ion-icon>
            </ion-button> -->
          </ion-col>
          <ion-col>
            <ion-button fill="outline" shape="round" color="primary" size="large" (click)="add('0')">0</ion-button>
          </ion-col>
          <ion-col>
            <ion-button fill="clear" shape="round" color="primary" size="large" (click)="delete()">
              <ion-icon name="backspace-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button fill="clear" shape="round" (click)="closeModal();" color="#212D4E">Cancel</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
