<ion-tabs class="tabs" >

  <ion-tab-bar slot="bottom" class="tabs-bar">
    <ion-tab-button tab="tab1">
      <ion-icon name="stop-circle"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="wallet"></ion-icon>
      <ion-label>Wallets</ion-label>
    </ion-tab-button>
   
  
    <ion-tab-button tab="tab3">
      <ion-icon name="list-circle"></ion-icon>
      <ion-label>History</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tab4">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

<ion-fab   vertical="bottom" horizontal="center" size="small" slot="">
  <ion-fab-button  (click)="scan() " size="small">
    
    <ion-icon name="scan-circle-outline" size="large"></ion-icon>
   
  </ion-fab-button>

</ion-fab>
