
ion-tab-button {        
    ion-label {  
        font-size: 12px;
        
    }

}
.tabs-bar{
    // border-color: white;
    // background-color:rgb(158, 158, 158);
    text-align: center;
}

.tabs{
    background-color:#1D4B9A;
    
}
.payBtn{
    font-size: xx-small;
}

ion-tab-button{
    background-color:#f0f0f0;
}