<ion-buttons slot="end" style="background:#ffffff" padding="5px">
  <ion-back-button defaultHref="" color="dark"></ion-back-button>
  <ion-title text-align="center">Security</ion-title>
</ion-buttons>


<ion-content>
  <div class="security-options">
  <ion-list >
    
       
    <ion-item button lines="full">
      <ion-row >
     <ion-col size="2" >
          <div style="padding-top: 0%;" >
              <ion-icon name="key-outline"></ion-icon>
              </div>
      </ion-col>
      <ion-col size="" style="width: 100%">
     
      <div style="font-weight: bold; font-size: small;">Change your pin</div>
     
     
  </ion-col>
  </ion-row>
  </ion-item>
<Br>
  <ion-item  lines="full">
    
   <ion-col size="1.4" >
        <div style="padding-top: 0%;" >
            <ion-icon name="key-outline"></ion-icon>
            </div>
    </ion-col>
      <ion-label style="font-weight: bold; font-size: small;" >Switch pin on-off</ion-label>
      <ion-toggle slot="end" ></ion-toggle>
   

</ion-item>
    <Br>
        <ion-item button lines="full">
            <ion-row >
           <ion-col size="2" >
                <div style="padding-top: 0%;" >
                    <ion-icon name="person-remove-outline"></ion-icon>
                    </div>
            </ion-col>
            <ion-col size="" style="width: 100%">
           
            <div style="font-weight: bold; font-size: small ;">Delete this account</div>
           
           
        </ion-col>
        </ion-row>
        </ion-item>
  </ion-list>
</div>
</ion-content>
