<ion-toolbar color="">
  <ion-title>Payment Methods</ion-title>
</ion-toolbar>
<ion-content>

<div style=" margin-left:20px; margin-top:20px; font-size:small; font-family: Segoe UI; color:gray;">
This is your primary payment method
</div>
  <div *ngIf="paymentMethodSet"  >
    <ion-slides pager="true" class="is-payment-cards is-card-bordered" [options]="slideOpts">
      <ion-slide padding>
        <ion-card class="payment-option-card" *ngFor="let i of walletDetails" style="background-color: teal;">
        
          <div style="padding-top: 18px; padding-left: 20px;" >
            <ion-thumbnail slot="start" style=" max-width:100%; height:auto">
              <img src="assets/img/smega-logo3.png" alt="" >
            </ion-thumbnail>
            <!-- <ion-label></ion-label>
            <div slot="end" align-self-start>
              <ion-icon name="more"></ion-icon>
            </div> -->
        </div>
      
          <ion-card-content no-padding style="color: white;" >
            <p padding-horizontal text-start style="color: white;">**** **** **** {{i.number.substring(4,8)}}</p>
          </ion-card-content>

          <ion-row padding text-start>
            <ion-col size="8" style="color: white;">
              <ion-note>
                Account Name
              </ion-note>
              <p no-margin style="color: white;">{{i.owner}}</p>
            </ion-col>
            <ion-col size="4">
              <ion-note>
                Date
              </ion-note>
              <p no-margin>{{i.expiry  | date: 'MM/yy'}}</p>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>



  <div *ngIf="!paymentMethodSet"  class="is-empty-state-content">
    <img src="assets/img/empty-wallet-1.png" alt=""/>
    <div class="is-empty-state-text">
      <h3>Your Wallet</h3>
      <p>No payment methods linked</p>
      <ion-button shape="round" (click)="presentActionSheet()">Add</ion-button>
    </div>
  </div>
</ion-content>