.is-empty-state-content {
    width: 100%;
    text-align:center;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 12vh;
  
  
    img {
      width: 55%;
      max-width: 370px;
      margin-bottom: 1rem;
    }
  }
  ion-slides{
    width: 100%;
  
  }
  ion-slide{
    width: 100%;
   
  }
  .is-payment-cards ion-card ion-thumbnail img {
    padding: 4px;
    // background: #fff;
    box-sizing: content-box;
    
  }
  
.payment-option-card{
      background: url("/assets/img/smega-bg.png") no-repeat;
      height: 190px;
      border-radius: 10px;
  }
  