  <ion-toolbar   color="red" >
      <ion-row>
        <ion-col  style=" padding-top: 10px; font-size: 25px; font-family: Segoe UI; font-weight: bold; margin-left: 16px; color: #f1f1f1 ;">
            Hello!
        </ion-col>
        <ion-col size="8"  style="text-align: right; ">
          <div routerLink="/profile">
          <ion-chip >
            <div *ngIf="profileSet"  style="font-weight: lighter; font-size:small; color: #f1f1f1 ; font-weight: bold; text-align:right; font-family: Segoe UI; ">
              {{displayName}}
            </div>
            <div *ngIf="!profileSet"  style="font-weight: light; font-size:small; color: #f1f1f1 ; font-weight: bold; text-align: right; font-family: Calibri; ">
              Update your profile <ion-badge style="background-color:#e21a0f">1</ion-badge>
            </div>
            <ion-avatar >
              <ion-icon  name="person-circle" alt=""  style="height: 25px; width:25px; color:#f1f1f1;"></ion-icon>
            </ion-avatar>
          </ion-chip>
        </div>
        </ion-col>
      </ion-row>
  </ion-toolbar>
<ion-content mode="md" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  " >
  <div style="background-color: #f9f9fa; height: 100%; width: 100%;">
    <div id="parent" >
      <div style="margin-left: 14px;">
        <h4 style="color: #5297ff; font-size: large; font-weight: bolder;">
          Scan. Pay. Go!
        </h4>
      </div>
      <!-- <div style="width: 100%;  height: 70%;">
      
         <img style="display:block; margin:auto; text-align: center; width: 40%; height: 40%; border-radius: 10px;"
          src="assets/img/profile.svg" alt="" routerLink="/profile" /> 
      </div> -->
      <div id="top-header" >
        <ion-slides pager="true" [options]="slideOpts" autoplay="true">
          <ion-slide>
            <img src="assets/img/slide1.png"/> 
          </ion-slide>
          <ion-slide>
            <img src="assets/img/slide2.png"/>
          </ion-slide>
          <ion-slide>
            <img src="assets/img/slide3.png"/>
          </ion-slide>
         </ion-slides>
      </div>
    </div>
    <br>
    <div *ngIf="!transactionsDB" style="margin-left: 20px; ">
      <p style="font-size: 16px;" >
        Your recent transactions will appear here.
      </p>
    </div>
    <div *ngIf="transactionsDB; let i=index" style="margin-top: 0%;  background-color:#f9f9fa;">
      <ion-row style="margin-top: 0%; background-color:#f9f9fa">
        <ion-col>
          <div >
            <ion-segment [(ngModel)]="tab" style="background-color: #f9f9fa; font-weight: bold; border-radius: 10px; border-width: 0.2px; border-style: solid; border-color: rgb(216, 216, 216);" >
              <ion-segment-button value="All" style="font-weight: bold;">
                All
              </ion-segment-button>
              <ion-segment-button value="Income" style="font-weight: bold;">
                Income
              </ion-segment-button>

              <ion-segment-button value="Expenses"  style="font-weight: bold;">
                Expenses
              </ion-segment-button>
            </ion-segment>
          </div>
          <br>
          <div  >
            <div [ngSwitch]="tab" >
              <div *ngSwitchCase="'All'"  >
                <div *ngFor="let item of transactionsDB; let i=index" style="background-color:#f9f9fa; height: 100%;" >
                  <ion-item *ngIf="i<4" style="padding: 3px !important ; padding-left:0px;  background-color:#f9f9fa;  border-radius: 16px;  " lines="none" >
   
                    <ion-thumbnail item-start style="text-align: left; padding-top: 20px; ">
                      <img src="assets/img/success.png"  style=" height: 20px; width: 20px;  "/>
                    </ion-thumbnail>
                    <ion-label>
                      <p style="font-weight: bold; color: #212D4E ; padding: 0px; margin: 0px;">{{item.mecharnt}}</p>
                      <p style="padding: 0px; margin: 0px; color:#212D4E ; font-size: 14px;">On {{item.date | date:'medium'}}</p>
                    </ion-label>
                    <p  style="color: #767D92; font-size: 0.9em;" item-end>
                      <span><sup>P</sup></span><b>-{{item.amount}}</b>
                    </p>      
                  </ion-item>
                </div>
                <br>
              </div>
              <div *ngSwitchCase="'Income'">
                <div *ngFor="let item of transactionsDB; let i=index" >
                  <div *ngIf="i<4">
                  <ion-item  style="padding:3px !important; color: #212D4E ;" lines="full" *ngIf="item.transactionType == 'credit'">
                    <ion-thumbnail item-start style="text-align: center; padding-top: 20px;">
                      <img src="assets/img/success.png"  style=" height: 20px; width: 20px;"/>
                    </ion-thumbnail>
                    <ion-label style="color: #212D4E ;">
                      <p style="font-weight: bold; padding: 0px; margin: 0px; color: #212D4E ;">{{item.mecharnt}} </p>
                      <p style="padding: 0px; margin: 0px; font-size: 6px; color: #212D4E ;">On {{item.date | date:'medium'}}</p>
                    </ion-label>
                    <p *ngIf="item.transactionType == 'credit'" style="color: #0cd366; font-size: 0.9em;" item-end>
                      <span><sup>P</sup></span><b>{{item.amount}}</b>
                    </p>
                    <br>
                  </ion-item>
                </div>
                  <br>
                </div>
              </div>
              <div *ngSwitchCase="'Expenses'">
                <div *ngFor="let item of transactionsDB; let i=index">
                  <div *ngIf="i<4">
                  <ion-item style="padding:0px !important;" lines="full" >
                    <ion-thumbnail item-start style="text-align: center; padding-top: 20px;">
                      <img src="assets/img/success.png"  style=" height: 20px; width: 20px;"/>
                    </ion-thumbnail>
                    <ion-label>
                      <p style="font-weight: bold; padding: 0px; margin: 0px;">{{item.mecharnt}}</p>
                      <p style="padding: 0px; margin: 0px; font-size: 0.7em;">On {{item.date | date:'medium'}}</p>
                    </ion-label>
                    <p  style="color: #e21a0f; font-size: 0.9em;" item-end>
                      <span><sup>P</sup></span><b>-{{item.amount}}</b>
                    </p>
                  </ion-item>
                </div>
                </div>
              </div>
            </div>
          </div>
    <br>
        </ion-col>
      </ion-row>
      <br>
    </div>
  </div>
</ion-content>
