ion-content{
  background-color: #f9f9fa;
}
ion-menu-button {
    color: var(--ion-color-primary);
  }

  ion-toolbar{
    background-color: #212d4e; 
    color: white;
  }


  #parent{
    margin-bottom: 70px; 
    padding: 10px; position: relative; 
    height: 140px; width: 100%; 
    //background:  #d6d6d6;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    color: white;
    background-color: #212d4e;
    //background: url("/assets/img/topbg.png") no-repeat;
   
  }
  
  ion-slides {
    height: 130px;
    width: 350px;
    border-radius: 15px;
  }


  #top-header{

    padding: 0px;
    top:100%;
    height: 130px;
    width: auto;
    color: white;
    //background-color:#1D4B9A;  
    border-radius: 15px;
    margin-left: 1px;
    margin-right: 1px;
    //max-width: 350px !important;
    transform: translateY(10%);
    box-shadow: gray;
   
  }

  #balanceText{
    font-size: 0.6em;
    color: white;
    vertical-align: middle;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .siki-features{
    margin-left: 30px;
    margin-right: 30px;
  }
  .segment{
    border-radius: 0px;
  }

  .sendbtn1{
    background-color: white;
    border-radius: 15px;
    padding-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
    height: 70%;
    width: 70%;
  }
  .row1{
    //background-color: yellowgreen;
    margin-right: 20px;
    margin-left: 20px;
  }
  .row2{
    margin-right: 20px;
    margin-left: 20px;
   // background-color: #fb5f5f;


  }
  .labels{
  //background-color: yellow;

  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  font-weight: lighter;
  text-align: center;
  color: #212D4E;
}
  
  .currency{
    text-align: right;
    float: right;
    padding-right: 0px;
    padding-top: 0px;
    color: white;
    font-size: x-small;
  }

  .availableblnce{
    font-size: x-small;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
   
    color: white;
  }
  #container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    // transform: translateY(-50%);

   
  }
  .txns{
    font-family: Arial, Helvetica, sans-serif;
    font-size: bold;
    margin-left: 2%;
    font-weight: bold;
    color: #212D4E;
    
 
  }
  .tr{
  margin-left: 4%;
  margin-right: 4%;}

    .seeall{
      font-family: Arial, Helvetica, sans-serif;
      font-size: bolder;
      font-style: normal;
      text-align: right;
      margin-right: 2%;
      text-decoration: underline;
      color: #1D4B9A;
      
    }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }

  #container p {
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }
  
  ion-grid.cardON {
    background-color: #4284ff;
    border-radius: 10px;
    padding: 10px;
    max-width: 400px !important;
    .msg {
        background-color: #679cff;
    }
  }
  ion-segment-button{
    color:#212D4E 
    ;
  }
  ion-grid.cardOFF {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    max-width: 400px !important;
    .msg {
        background-color: #d4d4d4;
    }
  }
  .msg {
    float: center;
    padding: 5px;
    padding-right: 8px;
    padding-left: 8px;
    font-size: 0.8em !important;
    color: white;
    border-radius: 5px;
  }
  .number {
    color: white;
    font-size: 1.5em !important;
    line-height: 2em !important;
    text-align: left;
  }
  .balance{
    background-color: red($color: #ebdcdc);
    font-weight: bold; 
    font-size: 24px; 
    font-style: normal; 
    font-family: Arial, Helvetica, sans-serif;
    color: white; 
    margin: 0px; 
    padding: 0px;
    padding-right: 8px;
    padding-left: 8px;
    text-align: center;
  }
  #currency{
    font-size: 0.4em;

  }
  .digits {
    padding-right: 5%;
    padding-left: 8px;
   
  }
  
  .date {
    color: white;
    font-size: 0.9em !important;
    float: left;
    text-align: left;
    padding-left: 8px;
    font-weight: normal;
    padding-top: 18px;
  
  }
  .btns{
    background-color: white;
    border-radius: 100%;
    padding:10%;
    color: #212D4E;
  }
  
  ion-tab-button {
    background-color: white;
  }


  .bank {
    text-align: right;
    color: white;
    font-size: 0.8em !important;
  }
  .ON {
    height: 8px;
    width: 8px;
    background-color: #8de278;
    border-radius: 50%;
    display: inline-block;
    margin-right: 2px;
  }
  .OFF {
    height: 8px;
    width: 8px;
    background-color: #fb5f5f;
    border-radius: 50%;
    display: inline-block;
    margin-right: 2px;
  }
  .brand {
    max-width: 40%;
    float: right;
  }
  .chip {
    h1 {
      float: left;
        max-width: 150px;
    }
  }
  ion-icon#power {
    font-size: 2em !important;
  }
  .list-md ion-item-options {
    border-bottom: 0px;
    border-radius: 15px;
  }
  ion-label{
    color:white;
  
  }
 
  .is-empty-state-content {
    width: 100%;
    text-align:center;
    padding-left: 32px;
    padding-right: 32px;


  
    img {
      width: 30%;
      max-width: 370px;
    }
  }

  