.is-empty-state-content {
    width: 100%;
    text-align:center;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 20vh;
    height: 100%;
  
    img {
      width: 55%;
      max-width: 370px;
    }
  }

  .container{
    // background-color: #eeeeee ;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


  }