<ion-toolbar color=" " style="background-color: #eeeeee;">
  <ion-title>Transactions</ion-title>
</ion-toolbar>
<ion-content mode="md"  >
  <div class="container" style="background-color: #eeeeee;">
  <br>

<div style=" margin-left: 20px; font-size: small;">

View all of your transaction history here.
</div>
  <div *ngIf="transactionsDB" style="margin-top: 0%; background-color:#eeeeee;">
    <ion-row>
      <ion-col>
        <div >
          <ion-segment [(ngModel)]="tab" style="background-color: #eeeeee; font-weight: bold;" >
            <ion-segment-button value="All" style="font-weight: bold;">
              All
            </ion-segment-button>
            <ion-segment-button value="Income" style="font-weight: bold;">
              Income
            </ion-segment-button>

            <ion-segment-button value="Expenses"  style="font-weight: bold;">
              Expenses
            </ion-segment-button>
          </ion-segment>
        </div>
<br>
        <div  >
          <div [ngSwitch]="tab" >
            <div *ngSwitchCase="'All'"  >
              <div *ngFor="let item of transactionsDB"  >

                <ion-item style="padding:3px !important ; padding-left:0px; border-radius: 18px; " lines="none" >
                  <ion-thumbnail item-start style="text-align: center; padding-top: 20px;">
                    <img src="assets/img/success.png"  style=" height: 20px; width: 20px;"/>
                  </ion-thumbnail>
                  <ion-label>
                    <p style="font-weight: bold; color: #212D4E ; padding: 0px; margin: 0px;">{{item.mecharnt}}</p>
                    <p style="padding: 0px; margin: 0px; color:#212D4E ; font-size: 14px;">On {{item.date | date:'medium'}}</p>
                  </ion-label>
                  <p  style="color: #767D92; font-size: 0.9em;" item-end>
                    <span><sup>P</sup></span><b>-{{item.amount}}</b>
                  </p>
                  <button danger   (click)="removePost(posts)" style="background-color:white;" >
                  <ion-icon name="trash-outline" style=" background-color:white;" ></ion-icon>
  
                                    
                  </button>
                </ion-item>
              </div>
            </div>

            <div *ngSwitchCase="'Income'">
              <div *ngFor="let item of transactionsDB">
                <ion-item style="padding:0px !important; color: #212D4E ;" lines="full" *ngIf="item.transactionType == 'credit'">
                  <ion-thumbnail item-start style="text-align: center; padding-top: 20px;">
                    <img src="assets/img/success.png"  style=" height: 20px; width: 20px;"/>
                  </ion-thumbnail>
                  <ion-label style="color: #212D4E ;">
                    <p style="font-weight: bold; padding: 0px; margin: 0px; color: #212D4E ;">{{item.mecharnt}} </p>
                    <p style="padding: 0px; margin: 0px; font-size: 6px; color: #212D4E ;">On {{item.date | date:'medium'}}</p>
                  </ion-label>

                  <p *ngIf="item.transactionType == 'credit'" style="color: #0cd366; font-size: 0.9em;" item-end>
                    <span><sup>P</sup></span><b>{{item.amount}}</b>
                  </p>
                </ion-item>
              </div>
            </div>
            <div *ngSwitchCase="'Expenses'">
              <div *ngFor="let item of transactionsDB">
                <ion-item style="padding:0px !important;" lines="full" >
                  <ion-thumbnail item-start style="text-align: center; padding-top: 20px;">
                    <img src="assets/img/success.png"  style=" height: 20px; width: 20px;"/>
                  </ion-thumbnail>
                  <ion-label>
                    <p style="font-weight: bold; padding: 0px; margin: 0px;">{{item.mecharnt}}</p>
                    <p style="padding: 0px; margin: 0px; font-size: 0.7em;">On {{item.date | date:'medium'}}</p>
                  </ion-label>
                  <p  style="color: #e21a0f; font-size: 0.9em;" item-end>
                    <span><sup>P</sup></span><b>-{{item.amount}}</b>
                  </p>
                </ion-item>
              </div>
            </div>
          </div>

        </div>

      </ion-col>
    </ion-row>
  </div>



  <div *ngIf="!transactionsDB"  class="is-empty-state-content">
    <img src="assets/img/empty-purchases-1.png" />
    <h3>No Transactions!</h3>
    <p>Your transaction history will be displayed here</p>
  </div>
</div>
</ion-content>