
<ion-toolbar color="primary">
  <ion-buttons mode="md" slot="start">
    <ion-back-button defaultHref="tabs"></ion-back-button>
  </ion-buttons>
  <ion-title>App info</ion-title>
</ion-toolbar>
<ion-content>
  <div id="parent">
    <div class="divinfo">
      <h3>
        SIKI
      </h3>
      <div style="font-size: small;">Version 1.0.0 Beta</div>
      <div>
        <img src="assets/img/icon.png" alt="png" />
      </div>
      <div style="font-size: x-small;">
        <p>2021 SIKI Proprietary Limited.</p>
      </div>
    </div>
  </div>
</ion-content>