#parent{
    height: 100%;
    background-color: #ffffff;
}
.divinfo{
    margin-top: 80px;
    background-color:#fff;
    //height: 50%;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
   

}
img{
    width: 50%;
    height: 50%;
    margin: auto;
    display: block;
  }