*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}
 
.menu-header{
    background-color: #122b57;
    color: white;
   // border-bottom-left-radius: 100px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
}

.list-items{
    border-color: white;
    color: gray;

}
.menu-title{ background-color: #122b57;
}

.profile-avatar{
    
    float: center;
    padding-left: 2px;
}

.profile-name{
   
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    //background-color: #1D4B9A;
    padding-top: 20px;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
}

.profile-name2{margin-left: 20px;
}

