<ion-buttons mode="md" slot="start" style="background:#ffffff" padding="5px">
  <ion-back-button defaultHref="" color="primary"></ion-back-button>
</ion-buttons>
<ion-content class="ion-padding">
  <div [formGroup]="signUpFormGroup">
    <div >
      <img src="assets/img/icon.png" alt="png" />
    </div>
<div>
  <h2>
    Sign in...
  </h2>
  <p>Please provide your details to sign in</p>

</div>
  

    <ion-list padding class="is-list-transparent">
  
      <ion-item class="sign-in-form" style="border-color: rgb(201, 201, 201);">
        <ion-input  type="email" autocorrect="on" autofocus="on" formControlName="email" clearInput="true"
          clearOnEdit="true" color="primary" inputmode="email" placeholder="Email" required="true"></ion-input>
      </ion-item>

      <div padding *ngIf="(f.email.dirty || f.email.touched)" class="errors">
        <span *ngIf="f.email.hasError('email')">Kindly provide a valid email address</span>
        <span *ngIf="f.email.hasError('required')">Kindly provide email address</span>
      </div>
    
      <ion-item style="border-color: rgb(201, 201, 201);">
        <ion-input [type]="passwordType || 'password'" formControlName="password" placeholder="Password"></ion-input>
        <ion-button fill="clear" size="default" slot="end" (click)="togglePasswordType()">
          <ion-icon [name]="(passwordType === 'text') ? 'eye-off' : 'eye'"></ion-icon>
        </ion-button>
      </ion-item>
      <div padding *ngIf="(f.password.dirty || f.password.touched)" class="errors">
        <span *ngIf="f.password.hasError('required')">Kindly provide password</span>
      </div>
    </ion-list>
    <ion-list lines="none">
     
    </ion-list>
    <br>
    <ion-list  lines="none" padding no-margin class="is-list-buttons is-list-transparent">
      <ion-item style="border-radius: 5px; border: solid 0.5px rgb(235, 235, 235);" (click)="Login()" [disabled]="!signUpFormGroup.valid" color="primary" button detail="true">
        <ion-label >Login</ion-label>
      </ion-item>  
    </ion-list>
    <div padding-horizontal>
      <p>
        Forgot password? <a routerLink="/forgot-password">Restore</a>
      </p>
    </div>

    <div>
    </div>



  </div>

</ion-content>