<ion-toolbar color="primary">
  <ion-buttons>
      <ion-back-button mode="md" defaultHref="" (click)="dismiss()"> </ion-back-button>
      <ion-title >Terms and Conditions</ion-title>
    </ion-buttons>
  </ion-toolbar>
<ion-content>

  <div style="text-align: center; padding-top: 8%; padding-bottom: 8%; background-color: #ffffff;">
    <img src="assets/img/termsbg.png"/>
  </div> 

  <div style="margin-left: 20px; font-size: small; color: grey;">
    <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
      The followining are terms of use and privacy policy.
    </p>
  </div>

  <div style="margin-left: 20px; font-size: small; color: grey;">
    <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
      <span style="font-weight: bold;">Last updated </span>: 28/03/2021
    </p>
  </div> 

  <ion-card (click)="expandItem(item)"  *ngFor="let item of items">
    <ion-card-header>
      <div style="float: right; font-size: larger;"><ion-icon name="chevron-down-outline"></ion-icon>
      </div>
      <ion-card-title style="font-size: small; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #033675;">Terms and Conditions</ion-card-title>
    </ion-card-header>
      <app-expandable expandHeight="9000px" [expanded]="item.expanded">
        <p style="padding-left: 6%">
          <span style="font-weight: bold;">Important – </span>Please read these terms carefully. Siki App (as defined below), you agree that you have read, understood, accepted and agreed with 
          the Terms of Service. You further agree to the representations made by yourself below. If you do not agree to or fall within the Terms of Service and wish to discontinue using the Service,
           please do not continue using the Application (as defined below) or the Service.
           <br>
           <br>
           By using the SIKI mobile application supplied to you by the Company’s affiliated company/ies (the “Application”), and downloading,
            installing or using any associated software supplied by the Company (“the Software”) which overall purpose is to enable persons seeking to establish an account with the Company and use the SIKI App, you hereby expressly acknowledge and agree to be bound by these Terms of Use, 
            and any future amendments and additions to these Terms of Use as published from time to time through the Application, and your continued use of the Service after any such changes, whether or not reviewed by you, shall constitute your consent and acceptance of the revised Terms 
            of Use. Notwithstanding the foregoing, the Company will provide ten (10) business days’ notice of any changes, which the Company in its reasonable discretion deems material,
            to these Terms of Use following which your continued use of the Service will be deemed to confirm your acceptance of such changes.
        </p>

        <p style="padding-left: 6%">
          <span style="font-weight: bold;">1. Introduction– </span>
          (i) This user agreement (the <span style="font-weight: bold;">Agreement</span>) is an agreement between you and Routepay Proprieary Limited,
           a company incorporated in Botswana with registration number BW00002058277 located at BITRI Offices Plot 4448, Extension 4 Industrial, Palapye,
            Botswana, and P.O. Box 18. The Agreement governs your use of the SIKI QR Code application for Android and iOS (iPhone) respectively (collectively 
            the App), and governs your use of the App.
       
          <br>
          <br>
          (ii) You will be required to accept this Agreement when you enter the 'My Account' section of the App and provide your personal details for use in the 
          profile feature within the App <span style="font-weight: bold;">(Profile Information)</span>. Completing the My Account section allows you to use the features described in section 2 below. 
          Should you decline the acceptance of this Agreement these aspects of the App will not be available to you.
          <br>
          <br>
          (iii) By using the App you agree that you have read and understood the terms and conditions of this Agreement and you acknowledge that these terms and conditions 
          in their entirety shall apply to you.
          <br>
          <br>
          (iv) We reserve the right to amend, modify, update and change any of the terms of this Agreement. We advise you to check for updates on a regular basis. Any material
           changes to the Agreement will be notified to you through the messaging features of the App. Your continued use of the App will be deemed to constitute your acceptance of such changes.
          </p>
          
          
        <p style="padding-left: 6%">
          <span style="font-weight: bold;">2. Features of Siki App</span>“Scan to Pay” a participating merchant using the BTC mobile phone number and SMEGA Wallet details simply by scanning a QR code 
          on that merchant's store, invoice, bill or other material and then confirming the payment via the App <span style="font-weight: bold;">(Scan-to-Pay).</span>
        </p>

        <p style="padding-left: 6%">
          <span style="font-weight: bold;">3. The Profile Feature</span>
          (i) Your Profile/account Information details will be sent to our servers. The Company will not store any passwords or payment information except locally on your device.
          <br>
          <br>
          (ii) When you use the Scan-to-Pay features, we will send your Account Information (including, where applicable, your encrypted payment details) from the Siki server to
           a merchant server or to the applicable third party payment services provider.
          <br>
          <br>
          (iii) The Privacy Policy, which is accessible through the App and forms an integral part of this Agreement, describes how we collect and use your Account Information.
          <br>
          <br>
          The Company reserves the right to use the Account Information in order to contact you in the future in relation to marketing any other products or services offered
           by the Company, any of its related group companies or participating merchants, unless you have opted out of such use in accordance with our Privacy Policy.
        </p>


        <p style="padding-left: 6%">
          <span style="font-weight: bold;">4. Our Role </span>
          (i) When you use the features of the App within Botswana, we are not acting as your agent or trustee but as agent for the participating merchants
           to process payments made by you. In all circumstances when you purchase
           goods or services from participating merchants, the contract for the sale of those goods or services will be between you and the merchant.

           <br>
           <br>
           (ii) You understand and agree that the Company shall not be responsible for the outcome of your transactions with external merchants via the App.
            We do not have control, nor shall we be liable for, the legality of, 
           or the use of, the goods and services that are paid for using the App.
           <br>
           <br>
           (iii) It is the responsibility of you and the relevant merchant, not us, to resolve any dispute or claim raised by you relating to any payments made via the
            App or the purchase or sale of goods or services you (a Customer Claim). We may, however, initiate a refund if (a) a payment made via the App is reversed by 
            a court, regulatory authority or other third party acting in accordance with applicable law, (b) we, in our sole and absolute discretion, accept or have reason 
            to believe that a payment was not authorized by you, or (c) a payment is allegedly unlawful, suspicious, or in breach of this Agreement. Where you have a dispute 
            with a merchant, we will provide information we hold which may assist resolution and otherwise attempt to assist you as far as we consider practicable.
             We may charge you an administration fee to cover our reasonable costs of providing any such assistance.
           <br>
           <br>
        </p>

        <p style="padding-left: 6%">
          <span style="font-weight: bold;">5. Security and Unauthorized Payments</span>“
          (i) The App gives you the opportunity to enter a PIN provided by your wallet service provider e.g SMEGA, to authorize a payment (the PIN).

          <br>
          <br>
          (ii) As long as the correct PIN is entered, we will assume that you are the person giving instructions and making payments and you will be liable 
          for them, except to the extent provided for in section 11(ii). You must therefore choose a secure PIN that is not easily guessed by another person, 
          keep the Password secret and make sure that it is not stored in a way that enables others to access it or impersonate you. In addition, for the avoidance 
          of doubt, if you disclose the PIN to any person whom you authorize to access the App, you are also responsible and liable for any access, use, misuse or 
          disclosure of your Password by such person.
          <br>
          <br>
          (iii) We may also use facial recognition technology for payment verification and fraud prevention purposes.

          <br>
          <br>
          (iv) If you become aware of a payment being made via the App that was not authorized by you (an Unauthorized Payment) 
          or if you lose the device on which the App is installed, disclose your Password to a person unauthorized by you, or 
          believe that someone else can use the App by impersonating you, you should inform us immediately by emailing 
          support@siki.co.bw and we will disable the payments feature of the App until you re-enter your payment card details 
          in the My Account section of the App. Unless and until you provide such notice:

          <br>
              --> You will be responsible for any instruction which we receive and act on, even if it was not given by you; and
          <br>
              --> The we will not be responsible for any unauthorized access to confidential information about you in the App.

              <br>
              <br>
              (v) We can refuse to act on any instruction including where we believe an instruction: (i) was unclear; (ii) was not 
              given by you; or (iii) might cause
              us to breach a legal or other duty; (iv) if we believe the App is being used for an illegal purpose; or (v) may harm 
              our reputation.

               <br>
               <br>
               (vi) You agree to fully cooperate with us, our agents, regulatory authorities and the police where you or we suspect 
               there have been Unauthorized Payments in respect of the App.
        </p>

        <p style="padding-left: 6%">
          <span style="font-weight: bold;">6. Charges</span>Downloading and installing Siki app is free. However you may be charged service 
          fees for performing transaction with the app and/or you will be responsible for processing fees imposed by your mobile wallet provider (SMEGA). 
        </p>

        <p style="padding-left: 6%">
          <span style="font-weight: bold;">7. Termination/Suspension of your Access</span>We may suspend or terminate your access to the App or to the 
          features within the App without notice where it is reasonable for us to do so and specifically if: (i) for any reason we decide to discontinue 
          to provide the App, (ii) we believe that you have breached any of the terms of this Agreement, (iii) your use of the App has been in any way 
          improper or breaches the spirit of this Agreement, (iv) we reasonably believe use of the App may be at risk of fraud or misuse; (v) our 
          information technology infrastructure has failed, is experiencing outages or requires maintenance; or (vi) ordered or recommended to do 
          so by the security services, court or a relevant regulatory authority.
        </p>

        <p style="padding-left: 6%">
          <span style="font-weight: bold;">8.Using SIKI App</span> 
          (i) You must not:
          <br>
          a) copy or reproduce all or any part of the App;
          <br>
          (b) Alter, modify or adapt all or any part of the App;
          <br>
          	(c) Remove or tamper with any copyright notice attached to or contained within the App; or
          <br>
          (d) Carry out reverse engineering of the App.
          <br><br>
          (ii) You represent and warrant to us that:
          <br>
          (a) all Account Information provided to us is true and accurate in every respect and you will keep 
          all such information up to date during the term of this Agreement;
          <br>
          (b) you will only use the App for your own purposes and not on behalf of any other person or entity;
          <br>
          (c) you and all payments initiated by you will comply with all laws, rules, and regulations; and
          <br>

          (d) You will not use the App, directly or indirectly, for any fraudulent undertaking or in any manner
           so as to interfere with the functionality of the App.
        </p>
        <p style="padding-left: 6%">
          <span style="font-weight: bold;">9. Intellectual Property</span>
          •	The Company and its affiliates, where applicable, shall own all right, title and interest, including all related intellectual property rights, 
          in and to the Software and/or the Application and by extension, the Service and any suggestions, ideas, enhancement requests, feedback, 
          recommendations or other information provided by you or any other party relating to the Service.
          <br>
          •	These Terms of Use do not constitute a sale agreement and do not convey to you any rights of ownership in or related to the Service, the Software 
          and/or the Application, or any intellectual property rights owned by the Company and/or its licensors.
          <br>
          •	The Company’s name, the Company’s logo, the Service, the Software and/or the Application and the third-party merchants or transportation
           providers’ logos and the product names associated with the Software and/or the Application are trademarks of the Company and/or its affiliates or third parties,
            and no right or license is granted to use them.
            <br>
          •	For the avoidance of doubt, the term the “Software” and the “Application” herein shall include its respective components, processes and design in its entirety.
          <br>
          <br>
          (i) The Company hereby grants you the non-exclusive, non-transferable, revocable right to use our App, including the copyright and all
           intellectual property rights therein, in connection with the App and in accordance with this Agreement.
           <br>
           <br>
           (ii) The App and all content derived from the App is protected by copyright and/or other intellectual property rights. You hereby acknowledge that by using 
           the App you obtain no rights in the software, trademarks or content related to the App and you may only use the same in complete accordance with this Agreement.

        </p>

        <p style="padding-left: 6%">
          <span style="font-weight: bold;">10. No Warranty</span>
          (I) The app is provided "as is". We make no warranty or representation, whether express or implied, in relation to the satisfactory quality, fitness for purpose,
           completeness or accuracy of the service offered through the app.
          <br>
          <br>
          (ii) we make no warranty that the operation of the app will be uninterrupted, timely, secure or error-free, that defects will be corrected, or that the software 
          or the server that makes it available are free of viruses or bugs ,or represent the full functionality, accuracy, reliability of the materials therein.
        </p>

        <p style="padding-left: 6%">
          <span style="font-weight: bold;">11. Limitations of Liability</span>
<br>
•	The Company makes no representation, warranty or guarantee as to the reliability, 
timeliness, quality, suitability, availability, accurate or completeness of the Service,
 the Application and/or the Software.
 <br>
 •	The Company does not represent or warrant that:
 <br>
 o	The use of the Service, the Application and/or the Software will be secure, timely, uninterrupted or error-free or operate in combination with any other hardware, software, system or data;
 <br>
 o	The Service and/or Rewards will meet your requirements or expectations;
 <br>
 o	Any stored data will be accurate or reliable;
 <br>
 o	The quality of any products, services, information, rewards or another material purchased or obtained by you through the Application will meet your requirements or expectations;
 <br>
 o	Errors or defects in the Application and/or the Software will be corrected; or
 <br>
 o	The Application or the Server that make the application available are free of viruses or other harmful components.
 <br>
 •	The Service and Rewards (as defined below) are provided to you strictly on an “as is” basis.
 <br>
 •	All conditions, representations and warranties, whether express, implied, statutory or other, including without limitation, any implied warranty of merchantability,
  fitness for a particular purpose, or non-infringement of third party rights, are here excluded and disclaimed to the highest and maximum extent allowed under Botswana laws.
 <br>
 •	The Service, the Application and/or the Software may be subject to limitations, delays and other problems inherent in the use the internet and electronic communications 
 including the device used by you or other Siki app Users being faulty, not connected, out of range of mobile signals or functioning incorrectly.
  The Company is not responsible for any delays, delivery failures, damages or losses resulting from such problems.
 <br>
 •	To the fullest extent permitted by law, the Company shall not be liable for any claim, loss, damage, data loss, costs or expenses incurred 
 (whether direct or consequential), suffered or sustained by you arising from or in connection with you use of the Service, the Application and/or the Software.
 <br>
 •	In case of an Unauthorized Payment, we will at your request refund the Unauthorized Payment, except in the following cases (where you shall remain solely liable for all losses):
 <br>
 	(a) where the Unauthorized Payment arises from your choice not to use a Password/PIN to access the App or features of the App;
 <br>
 (b) where the Unauthorized Payment arises from your failure to create a secure Password/PIN or to protect and keep secure your Password/PIN in accordance with section 5;
 <br>
 (c) if you fail to notify us without undue delay of any loss of your Password or other event that could reasonably be expected to have compromised the security 
 of the App after you have gained knowledge of such event in which case you shall remain liable for losses incurred up to your notification to us;
<br>
      (d)if you have compromised the security of the App with intent or negligence; or
<br>
(e) If you fail to dispute and bring the Unauthorized Payment to our attention within 30 days from the date of the Unauthorized Payment.
          </p>

          <p style="padding-left: 6%">
            <span style="font-weight: bold;">12. Indemnity</span>
            <br>
            (i) By agreeing to the Terms of Use upon using the Service, you agree that you shall defend, indemnify and hold the Company, its licensors and each such party’s parent organizations, 
            subsidiaries, affiliates, officers, directors, members, employees, attorneys and agents harmless from and against any and all claims, costs, damages, losses, liabilities and expenses
             (including attorneys’ fees and costs and/or regulatory action) arising out of or in connection with:
<br>
•	Your use of the Service, the Software and/or the Application in your dealings with the third-party merchants, transportation providers, third party providers, partners, advertisers and/or sponsors;
<br>
•	Your violation or breach of any of the Terms of Use or any applicable law or regulation, whether or not referenced herein;
<br>
•	Your misuse of the Service, the Software and/or the Application

</p>

<p style="padding-left: 6%">
  <span style="font-weight: bold;">13.Language and Notices</span>
  <br>
  (i) This Agreement has been drafted in the English language. In the event of any discrepancy between the meanings of any translated versions of this Agreement and the English language version,
   the meaning of the English language version shall prevail. You agree that we will communicate with you and you will communicate with us in English during the term of this Agreement.
   <br>
   <br>
   (ii) When you use the App or send e-mails to us, you are communicating with us electronically. By registering for the App and accepting the terms of this Agreement, you affirmatively
   consent to receive notices electronically from us. We may provide in electronic format all communications including, without limitation. agreements related to the App,
    amendments or changes to such agreements or any applicable policies, disclosures, notices, payment information, statements, responses to claims and other customer 
    communications that we may be required to provide to you by law (collectively, Communications). Communications may be posted to the App and sent by e-mail to the 
    e-mail registered in your Account Information. All Communications will be deemed to be in "writing" and received or accessed by you. You are responsible for printing,
     storing and maintaining your own recordsof Communications, including copies of this Agreement. This condition does not affect your statutory rights. You can contact 
     us about the App by sending an email to  <span style="font-weight: bold;">support@siki.co.bw</span>
  </p>
  <p style="padding-left: 6%">
    <span style="font-weight: bold;">14.System complaints and Dispute Resolution</span>
    <br>
    (i) If you wish to make a complaint about the App, you can email support@siki.co.bw, with brief details of your complaint. Our customer service staff will acknowledge
     your complaint by email within 1 business day. They will then investigate and send you an initial response, having had access to an officer with the authority to settle
      the complaint (including, where appropriate, an offer of redress). Where appropriate, the member of staff investigating the complaint will not be any staff member who 
      was directly involved in the subject matter of the complaint. This should take no longer than five business days, but most complaints may well be resolved by close of
       business on the business day after the complaint is received. If the complaint is not resolved by close of business on the business day after the complaint is received, 
       we will send you a copy of this complaints handling procedure.
       <br>
       <br>
       (ii) If you are not satisfied by our response, you must contact the Customer Services Manager, who will respond by email within a further five business days.
       <br>
       <br>
      (iii) If you are not satisfied with the response from the Customer Services Manager, you can email support@siki.co.bw, enclosing the responses already given to it. 
      That email will then be referred to the Managing Director, who will respond by email within a final five business days.
<br>
<br>
      (iv) Within four weeks after receiving a complaint, we will send you either a final response or a response which explains why we are not in a position to resolve the complaint and indicates when we will make further contact.

      <p style="padding-left: 6%">
        <span style="font-weight: bold;">15. General</span>
        <br>
        (i) We reserve the right to modify or terminate the App at any time, without notice, and we will not be liable to you as a result of any such action.

        <br>
        <br>
        (ii) If any part of this Agreement shall be deemed unlawful, void or for any reason unenforceable, then that provision shall be deemed to be severable from the rest of this Agreement 
        and shall not affect the validity and enforceability of any of the remaining provisions of this Agreement. In such cases, the part deemed invalid or unenforceable shall be construed in
        a manner consistent with applicable law to reflect, as closely as possible, the original intent of the parties.
        <br>
        <br>
        (iii) Any waiver of any right under this Agreement is only effective if it is in writing and it applies only to the party to whom the waiver is addressed and to the circumstances for which it is given.
         No failure to exercise or delay in exercising any right or remedy provided under this Agreement or by law constitutes a waiver of such right or remedy nor shall it prevent any future exercise or 
         enforcement of such right or remedy.

        <br>
        <br>
        (iv) Unless otherwise expressly stated, nothing in this Agreement shall create or confer any rights or any other benefits to third parties.

        <br>
        <br>
        (v) This Agreement contains the entire agreement between you and us relating to its subject matter. You confirm that, in agreeing to accept
         this Agreement, you have not relied on any representation save insofar as the same has expressly been made a representation in this Agreement.
        <br>
        <br>
        (vi) This Agreement is personal to you and you may not assign any of your rights or obligations to any third party. Any assignment in violation of this provision shall'
         be void and of no effect. We reserve the right to transfer, assign, sub-license or pledge this Agreement, in whole or in part, to any person without notice and you will be 
         deemed to consent to such assignment.
         <br>
         <br>
         (vii) In this Agreement and unless otherwise stated, "we", "us" or "our" refers collectively to the Company and its subsidiaries, affiliates, partners, directors, officers, employees, agents and contractors.
        </p>
      </app-expandable>
  </ion-card>


  <ion-card (click)="expandItem(item)"  *ngFor="let item of item1">
    <ion-card-header>
      <div style="float: right; font-size: larger;"><ion-icon name="chevron-down-outline"></ion-icon>
      </div>
      <ion-card-title style="font-size: small; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #009cde;">Privacy & Data Protection Policy</ion-card-title>
    </ion-card-header>
      <app-expandable expandHeight="3000px" [expanded]="item.expanded">
        <p style="padding-left: 6%">
          •	You agree and consent to the Company collecting, using, disclosing and processing your Personal Data for the Purposes and in the manner as identified hereunder.
          <br>
•	For the purposes of this Agreement, “Personal Data” means information about you, from which you are identifiable, directly or indirectly, including but not limited to your name, 
identification card number, birth certificate number, passport number, nationality, address, telephone number, credit or debit card details, race, gender, date of birth, email address,
any information about you which you have provided to the Company by any means and/or any information about you that has been or may be collected, stored, used and processed by the Company.
<br>
•	The provision of your Personal Data is voluntary. However, if you do not provide the Company your Personal Data, your request for the Application may be incomplete and the Company will 
not be able to process your Personal Data for the Purposes outlined below and may cause the Company to be unable to allow you to use the Service.
<br>
•	The Company may collect, use, disclose and process your Personal Data for business and activities of the Company which shall include, without limitation the following (the “Purposes”):
<br>
o	to perform the Company’s obligations in respect of any contract entered with you;
<br>
o	to provide you with any services pursuant to the Terms of Use herein;
<br>
o	process, manage or verify your application for the Service pursuant to the Terms of Use herein;
<br>
o	to validate and/or process payments pursuant to the Terms of Use herein;
<br>
o	to process any refunds, rebates and or charges pursuant to the Terms of Use herein;
<br>
o	to facilitate or enable any checks as may be required pursuant to the Terms of Use herein;
<br>
o	to develop, enhance and provide what is required pursuant to the Terms of Use herein to meet your needs;
<br>
o	for internal administrative purposes, such as auditing, data analysis, database records;
<br>
o	for purposes of detection, prevention and prosecution of crime including in relation to its obligations under any applicable laws,
 regulations, guidelines or notices issued by any government or regulatory authority (whether in Botswana or overseas);
 <br>
o	for the Company to comply with its obligations any applicable laws, regulations, guidelines or notices issued by any 
government or regulatory authority (whether in Botswana or overseas including disclosing such Personal Data to Botswana and overseas law enforcement agencies or courts);
<br>
o	to respond to questions, comments and feedback from you;
<br>
o	in accordance with any applicable laws permitting the use, collection, disclosure and processing of Personal Data,
<br>
<br>
provided that in the event your data is shared with an external third party, such third party shall be contractually obliged to provide no less protection for that data than the Company.
•	In addition to the above, the Company may wish to communicate with you either by email, telephone or text message in relation to the following matters (the “Marketing Purposes”):
<br>
o	to process your participation in any events, promotions, activities, focus groups, research studies, contests, promotions, polls, surveys or any productions and to communicate
 with you regarding your attendance thereto;
 <br>
o	to send you alerts, newsletters, updates, mailers, promotional materials, special privileges, festive greetings from the Company, its partners, advertisers and or sponsors;
<br>
o	to notify and invite you to events or activities organized by the Company, its partners, advertisers, and or sponsors; and/or
<br>
o	to share your Personal Data amongst the companies within the Company’s group of companies comprising the subsidiaries, 
associate companies and or jointly controlled entities of the holding company of the group (the “Group”) and with the Company’s
 and Group’s agents, third party providers, developers, advertisers, partners, event companies or sponsors who may communicate with you for any reasons whatsoever.
 <br>
•	If you do not consent to the Company processing your Personal Data for any of the Marketing Purposes, or if any of the Personal Data that you have provided to us changes, 
for example, if you change your e- mail address, telephone number, payment details or if you wish to cancel your account or withdraw your permission to receive communications, 
please notify the Company through <span style="font-weight: bold;"> support@siki.co.bw</span>
<br>
•	The Company will, to the best of its abilities, effect such changes as requested within fourteen (14) working days of receipt of such notice of change.
<br>
•	You consent to and the Company reserves the right to transfer your Personal Data to its business partners, affiliates and for the purpose of the use of such 
data in the use and operations of the Siki app, including but not limited to where you have subscribed to other services provided by the Company’s business partners or 
affiliates and/or where the operational support is provided to the Company by such business partners, affiliates or outsources.
<br>
•	The Company is committed to full compliance with the provisions of the Personal Data Protection Act 2018 and has appointed a Personal Data Protection Officer for these purposes. 
Such officer may be communicated with in writing at the above email address.
        </p>


        <p style="padding-left: 6%">
          <span style="font-weight: bold;"> Governing Law</span>
          <br>
          This Agreement and any dispute or claim arising out of or in connection with it shall be governed by the laws of England and Wales. The parties irrevocably agree that the courts of the United Kingdom shall have non-exclusive jurisdiction to settle any dispute or claim that arises out 
          of or in connection with this agreement or our subject matter (including non-contractual disputes or claims).
          </p>    
      </app-expandable>
  </ion-card>


</ion-content>
