<ion-content style="background-color: #212D4E;" scroll-y="false">
  <div class="slidebody" style="background-color: #212D4E; height: 100%;" >
    <div>
  <ion-slides style="background-color: #212D4E;" autoplay="true" pager="true" [options]="slideOpts">

    <ion-slide>
        <br>
        <br>
        <br>
        <br>
        <img src="assets/img/boarding5.png" height="40%" width="40%" alt="welcome"/>
        <h2>Welcome to SIKi</h2>
        <p style="color: white;">Go cashless with Botswana's first Smart mobile wallet. It takes less than 2 minutes to register.</p>

    </ion-slide>

    <ion-slide>
      <br>
      <br>
      <br>
      <br>
      <img src="assets/img/boarding3.png" height="40%" width="40%" alt="welcome"/>
      <h2>Time-Saving</h2>
      <p style="color: white;">Speed up the process off making cashless payments anytime anywhere.</p>

    </ion-slide>

    <ion-slide>
      <br>
      <br>
      <br>
      <br>
      <img src="assets/img/boarding1.png" height="40%" width="40%" alt="welcome"/>
      <h2>Safe and Secure</h2>
      <p style="color: white;">All your personal and financial data are safely and secure with Route Pay.</p>
    </ion-slide>
  </ion-slides>
</div>
  <div style="text-align:center; color: tertary;"> 
    <ion-button fill="clear"  [routerLink]="['/first-time']" color="tertiary"  id="skip" >{{skipMsg}}</ion-button></div>
</div>
</ion-content>