ion-slides {
    height: 100%;
  }

  .swiper-slide {
    display: block;
  }

 h2{
    margin-top: 2.8rem;
    color: white;
  }

  .swiper-slide img {
    max-height: 50%;
    max-width: 80%;
    margin: 60px 0 40px;
    pointer-events: none;
  }

  b {
    font-weight: 500;
  }

  p {
    padding: 0 40px;
    width:100%;
    display:block;
    margin: 0 auto;
    font-size:0.8em;
    color:white ;
    margin-bottom: 10px;
  }

