<ion-buttons mode="md" slot="start" style="background:white" padding="5px">
  <ion-back-button defaultHref="" color="dark"></ion-back-button>
  <ion-title>Payment</ion-title>
</ion-buttons>
<ion-content mode="md">
  <div class="wrapper">
    <div class="">
      <div class="">
        <br>
       
        <p style="color: #3469C2; font-size: 18px;">Enter Amount</p>
      </div>
      <ion-input id="enteredAmount" type="number" inputmode="decimal" name="txtamount" [(ngModel)]="amount"
        (blur)="transformAmount($event)" [(value)]="formattedAmount"> </ion-input>
      <!-- <ion-card style="height: 100%; margin: 0px; ">
        <ion-item lines="none">
          <ion-label style="text-align: center; padding: 0px;">
            <p style="font-weight: bold; padding: 0px; margin: 0px;">Not Set</p>
            <p style="padding: 0px; margin: 0px; font-size: 0.7em;">Gaborone,Botswana</p>
          </ion-label>
        </ion-item>
      </ion-card> -->
      <p class="centedredText" style="color: #3469C2;;"> You are about to transact: {{ amount | currency:'BWP'  }}</p>
      
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <div>
        <ion-list  lines="none" padding no-margin class="is-list-buttons is-list-transparent">
          <ion-item style="border-radius: 5px; border: solid 0.5px rgb(235, 235, 235);" (click)="checkAuthentication()"  color="primary" button detail="true">
            <ion-label style="text-align: center;" >Pay Now</ion-label>
          </ion-item>  
        </ion-list>
      </div>
    </div>
    

  </div>
</ion-content>