.wrapper{
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin:2%;
  height: 98%;
  overflow: hidden;
}
.centerDiv{
  width: 100%;
margin: 0;
  position: absolute;
  
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.centeredText{
  margin-top: 10px;
  text-align: center;
  color: #3469C2;;
}

.note{
  font-size: xx-small;
  margin-top: 2%;
  text-align: center;
}
h2 {
  font-weight:bold;
  font-size:24px;
  font-family: Arial, Helvetica, sans-serif;
 color: #212D4E;
}
p {
  width:100%;
  display:block;
  font-size:0.9em;
  color: #212D4E;
  text-align: center;
  font-weight: regular;
  font-family: Arial, Helvetica, sans-serif;
}
ion-button{
  margin-left: 22px;
  margin-right: 22px;
}
    
  #enteredAmount{
      font-size: 60px;
      font-weight: bolder;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      text-align: center;
      margin: 0px;
      padding: 0px;
      color: #062068;
  }

.enteramount2{
  margin-top: 50px;
}

  #fontBalance{
      font-weight: normal;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-size: small;
  }
  .roundedInput{
    margin-left: 10%;
    margin-right: 10%;
  }
  .currencyTxt{
font-weight: bold;
font-size: 24px;
font-family: Arial, Helvetica, sans-serif;
color: #212D4E;
  }