<ion-content class="ion-padding">
  <div class="wrapper">
    <div class="centerDiv">
      <h2 style="text-align: center;">Let's Begin!</h2>
      <div style="text-align: center; margin-top: 10px;">
        <div>
          <ion-list>
            <ion-item>
              <ion-label text-wrap>
                <p>New here? please sign up, otherwise login to access your account.</p>
              </ion-label>
            </ion-item>


            <ion-item style="border-radius: 5px; border: solid 0.5px rgb(235, 235, 235);" [routerLink]="['/signin']"
              color="primary" button detail="true">
              <ion-label>Login with Phone</ion-label>
            </ion-item>

            <ion-item style="border-radius: 5px; border: solid 0.5px rgb(235, 235, 235); margin-top: 5px;" color="tertiary" button detail="true" [routerLink]="['/signin-email']">
              <ion-label>Login via Email</ion-label>
            </ion-item>
          
          </ion-list>

        </div>
      </div>
    </div>
  </div>


</ion-content>
<ion-footer style="background-color: rgb(243, 243, 243);">
 
  <ion-button fill="clear" expand="full" [routerLink]="['/registration']">Create Account</ion-button>

</ion-footer>