.wrapper{
  margin-left: auto;
  margin-right: auto;
  position: relative;
  height: 98%;
  overflow: hidden;
}
.centerDiv{
  width: 100%;
margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.centeredText{
  text-align: center;
}

.note{
  font-size: xx-small;
  margin-top: 2%;
}
h2 {
  font-weight:bold;
  font-size:30px;
  font-family: Arial, Helvetica, sans-serif;
 color: #212D4E;
}

