<!-- <ion-buttons slot="start" style="background:#ffffff" padding="5px">
  <ion-back-button defaultHref="" color="primary"></ion-back-button>
</ion-buttons> -->
<ion-content class="ion-padding">
  <br>
  <br>
  <div >

    <div  style="margin-top: 45%;">
      <img src="assets/img/regi-success.png" alt="png" />
    </div>


      <div>
     
      <div class="centeredText">
        <h2> Nice! </h2>
        <div style="margin-right: 40px; margin-left: 40px;">
        <p style="font-weight: regular;" text-wrap>You have succesfuly registred your account. Now lets get you started!</p>
      </div>
        </div>
      
    </div>

    
    <br>
    <div style="text-align: center;">
    <ion-button fill="clear" button detail="true"  expand="full" [routerLink]="['/tabs']">OK</ion-button>
  </div>
    <br>
  </div>
</ion-content>