<ion-content>
  <div class="is-empty-state-content">
    <img src="assets/img/empty-wallet-2.png" alt=""/>
    <h3>Invalid QR Code</h3>
    <p>The scanned Qr Code does not match SIKI's QR format</p>
    <ion-button shape="round" (click)="closeModal()" color="primary">Close</ion-button>
  </div>

</ion-content>