.parent{
    height: 100%;
    background-color:white
}
.container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    margin: 5%;
    
    transform: translateY(-50%);
    #erTxt{
        color:grey;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: normal;
    }
  }
ion-card{min-height: 50%;}