<ion-toolbar color="translucent">
  <ion-buttons mode="md" slot="start">
    <ion-back-button defaultHref="tabs"></ion-back-button>
  </ion-buttons>
  <ion-title>Profile</ion-title>
</ion-toolbar>

<ion-content>
    <div class="card">
      <div class="header" style="background-color: #f0f0f0;">
        <div class="avatar">
          <img src="/assets/img/avatar.jpg" alt="">
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <div   class="name" style="text-align: center; ;  font-weight: bold; ">
      <h3 no-margin  style="text-align: center; font-family: Segoe UI;  font-weight: 600;">{{fullName}}</h3>
      <p no-margin>{{email}}</p>
      <h6 class="ranking">Account Status<ion-icon slot="icon-only" name="checkmark-circle" style="color:#9Dc912;"></ion-icon></h6>
    </div>

<br>

<div class="breakerline">

</div>

  <div class="card-body">
    <ion-list>
      <ion-item lines="none"> 
        <ion-icon slot="start" name="person-circle"style="color: grey;"></ion-icon>
        <ion-input type="text" [(ngModel)]="fullName" placeholder="Full Name"></ion-input>
      </ion-item>
      <ion-item *ngIf="email" lines="none">
        <ion-icon slot="start" name="mail" style="color: grey;"></ion-icon>
        <ion-input type="text" [(ngModel)]="email" readonly placeholder="Email"></ion-input>
      </ion-item>
      <ion-item *ngIf="phoneNumber" lines="none">
        <ion-icon slot="start" name="call" style="color: grey;"></ion-icon>
        <ion-input type="text" [(ngModel)]="phoneNumber" placeholder="Phone"></ion-input>
      </ion-item>
    </ion-list>
  </div>
    <ion-button *ngIf="!profileSet" (click)="updateProfile()" expand="block" color="primary" class="ion-padding">
      Update
    </ion-button>
</ion-content>
<ion-footer>
  <ion-button expand="full" fill="solid" (click)="signout()">
    <ion-icon slot="start" name="log-out-outline"></ion-icon>  Logout
    <ion-ripple-effect></ion-ripple-effect>
  </ion-button>
</ion-footer>

