#top{
      height: 35%;
      background-color: #212D4E;
  }
  #profile{
      height: 65%;
      background-color: #eff0f7;
form{
    padding: 2%;

    ion-item{margin-bottom: 2%;}
}
  }


ion-toolbar {
  background-color: #f0f0f0;
}

  #profile-info {
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 2;
    text-align: center;
  }
  #profile-name {
    color: white;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 2%;
    font-family: Arial, Helvetica, sans-serif;
  }
  #profile-description {
    font-size: 15px;
    color: #888;
  }
  #profile-description a {
    color: #888;
  }

  #profile-image {
    display: block;
    border-radius: 100%;
    border: 1px solid #fff;
    width: 30%;
    height: 30%px;
    margin: 30px auto 0;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.7);
  }

  .list-item-content {
    padding: 5px;
  }

  .list-item {
    color: #666666;
  }

  .post {
    color: #444;
  }

  .post-time {
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 11px;
    color: #888;
  }

  .post-profile-image {
    display: inline-block;
    vertical-align: top;
    width: 48px;
    height: 48px;
    margin-right: 10px;
  }
  .post-options {
    position: absolute;
    font-size: 16px;
    right: 5px;
    bottom: 5px;
    color: #888;
  }

  .header{
    height: 200px;
    position: relative;
    // background: url(/assets/img/blur.jpg) no-repeat ;

  }

  .avatar {
      width: 160px;
      height: 160px;
      position: relative;
      width: 160px;
      height: 160px;
      float: center;
      text-align: center;
      // background-color: hotpink;
      margin: auto;
      // top: 50%;
  }

  img {
      display: block;
      border-radius: 50%;
      position: absolute;
      bottom: calc(-1*(80px + 4px));
      border: 4px solid #1D4B9A; 
      background-color: #fff;
    }

    .name{

      font-size: 24px;
          font-weight: 600;
          color: #303940;

    }

    .card-body{
        background-color: #ffffff;
        padding: 30px;
        height: calc(100vh – (200px + 56px));
        overflow: hidden;
    }

.breakerline{
  border-width: 0.5px;
  border-style: dashed;
  background-color: #ffffff;
  margin-left: 40px;
  margin-right: 40px;
  border-color: rgb(233, 233, 233);
}