<ion-buttons slot="start" style="background:#ffffff" padding="5px">
  <ion-back-button defaultHref="" color="primary"></ion-back-button>
</ion-buttons>
<ion-content class="ion-padding">
  <div [formGroup]="forgotPasswordFormGroup">
    <div >
      <img src="assets/img/icon.png" alt="png" />
    </div>

    <ion-list padding class="is-list-transparent">
 
      <ion-item>
        <ion-input type="email" autocorrect="on" autofocus="on" formControlName="email" clearInput="true"
          clearOnEdit="true" color="primary" inputmode="email" placeholder="Email" required="true"></ion-input>     
      </ion-item>
      <div *ngIf="(f.email.dirty || f.email.touched)" class="errors">
        <span *ngIf="f.email.hasError('email')">Kindly provide a valid email address</span>
        <span *ngIf="f.email.hasError('required')">Kindly provide email address</span>
      </div>
    </ion-list>
    <ion-list lines="none">
     
    </ion-list>
    <ion-list  lines="none" padding no-margin class="is-list-buttons is-list-transparent">
      <ion-item style="border-radius: 5px; border: solid 0.5px rgb(235, 235, 235);" (click)="resetPassword()" [disabled]="!forgotPasswordFormGroup.valid" color="primary" button detail="true">
        <ion-label >Reset Password</ion-label>
      </ion-item>  
    </ion-list>
 
    <div>
    </div>



  </div>

</ion-content>