<ion-toolbar color="primary">
  <ion-buttons >
    <ion-back-button mode="md" defaultHref="" ></ion-back-button>
    <ion-title>Notifications</ion-title>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <ion-list>
    <ion-item style="padding:0px !important; " lines="full" >
      <ion-label>
        <p style="font-weight: bold; padding: 0px; margin: 0px;">Notifications</p>
        <p style="padding: 0px; margin: 0px; font-size: 0.7em;">Play sounds for incoming and outgoing transactions</p>
        
      </ion-label> <div style="margin-left: 10px;">
        <ion-toggle slot="end" ></ion-toggle>
      </div>

    </ion-item>
  </ion-list>
  
</ion-content>
