.tpsucceful{
    text-align: center;
    font-size: small;
    margin-top: 50%;
}

.tpsucceful1{
    text-align: center;
    font-size: small;
    margin-left: 50px;
    margin-right: 50px;
    min-height: 5%;
    min-width: 5%;

}

.tpsucceful2{
    text-align: center;
    font-size: small;
    margin-left: 50px;
    margin-right: 50px;
}

.btn{
    margin-right: 30%;
    margin-left: 30%;

}