

<ion-content>
  <ion-buttons slot="end" style="background:#ffffff" padding="5px">
    <ion-button defaultHref="" color="dark" >
    </ion-button>
    <ion-title text-align="center"></ion-title>
  </ion-buttons>
  
  <ion-content>
  <div class="parent">
    <div class="tpsucceful" >
      <img src="assets/img/paid-tick.gif" style="width: 30%; height:50%;">
  
    </div>
    <div class="tpsucceful1">
      <h1>
         Great!
      </h1>
        
  </div>
  <div class="tpsucceful2">
    <p>
      Your request has been sent. 
    </p>
  </div>
  <br>
  <br>
  <br>
  <div class="btn">
    <ion-button fill="solid" expand="block" color="dark" shape="block"  (click)="closeModal()" >OK</ion-button>
  </div>
  </div>
  </ion-content>
  

</ion-content>
